.calendar_container {
  text-align: center;
}

.calendar_wrapper {
  padding: 1vh 1vw;
  margin: 2vh 0;
  font-weight: 500;
}

.calendar_tips {
  text-align: left;
  font-size: 1.7vmin;
  font-style: italic;
  font-weight: 500;
  padding-top: 2.5vh;
  margin-bottom: 2vh;
}

.calendar_container .btn-lg {
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
  .rbc-btn-group {
    white-space: normal;
    margin: 1.5vh 0;
  }

  .calendar_tips {
    font-size: 3.5vmin;
    padding-top: 0;
  }

  .calendar_container .btn-lg {
    font-size: 4.5vw;
  }
}
