.calendar_container {
  text-align: center;
}

.calendar_wrapper {
  padding: 10px;
  margin: 10px 0;
  font-weight: 500;
}

.calendar_tips {
  text-align: left;
  font-size: 1.7vmin;
  font-style: italic;
  font-weight: 500;
  padding-top: 20px;
  margin-bottom: 15px;
}
