.grocery_checklist {
  padding: 3vh 2vw 3vh 6vw;
  height: calc(100vh - 10vh - 30vh);
  width: 50%;
  overflow: scroll;
  background-image: url(../assets/notepad.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-right: 0.7vw dashed pink;
}

.checklist_title {
  font-size: 3vmin;
  margin-bottom: 0.7vh;
}

.checklist_actions {
  text-align: right;
}

.checklist_actions .btn {
  margin: 0.1vh 0.1vw;
}

.checklist_item {
  align-items: center;
  border-bottom: 0.1vh solid grey;
  display: flex;
  font-size: 1.2vw;
  justify-content: space-between;
  margin-bottom: 0.3vh;
  padding: 0.4vh 0 0.4vh 1vw;
}

.grocery_checklist input{
  margin-top: 1vh;
  border: 0.3vw solid pink;
}


@media only screen and (max-width: 600px) {
  .grocery_checklist {
    width: 100%;
    border: none;
    padding: 3vh 2vw 3vh 11vw;
    margin-bottom: 2vh;
  }

  .grocery_checklist input {
    font-size: 1.7vw;
  }

  .checklist_item {
    padding: 0;
    font-size: 2.2vw;
    font-weight: 500;
  }
}
