.app_container {
  width: calc(100vw - 15vw);
  height: calc(100vh - 10vh);
  padding: 30px 50px;
  overflow: scroll;
}

.container_title {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 5vmin;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #f48fb1;
  text-shadow: -4px 4px #7e57c2,
               -8px 8px #26c6da;
}

.container_description {
  text-align: center;
  margin: 20px auto;
  font-weight: 500;
  color: grey;
}