.empty_results {
  text-align: center;
  margin: 2vh 0;
  padding: 14vh 10vw;
  border: 0.3vw solid pink;
  background: radial-gradient(white, rgb(248, 220, 224));
}

@media only screen and (max-width: 600px) {
  .empty_results {
    padding: 6vh 5vw;
  }
}
