.app_navbar {
  width: 15vw;
  text-align: center;
  cursor: pointer;
}

.nav_card {
  color: #c67fcf;
  font-size: 10vmin;
  margin: auto;
  height: calc((100vh - 10vh) / 4);
  background: #c9dac9;
  line-height: calc((100vh - 10vh) / 4);
  border-bottom: 0.7vw solid white;
  opacity: 0.6;
}

.nav_card:last-child {
  border: none;
}

.nav_card:hover {
  opacity: 1;
}

.card_selected {
  color: white;
  opacity: 1;
  background: #e1ceec;
}

.nav_card svg {
  vertical-align: middle;
}