.pin_modal {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 25vw;
  height: calc(100vh - 10vh);
  background: pink;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-left: 0.5vw dashed white;
  padding: 5.5vh 3vw;
  overflow: scroll;
  word-break: normal;
  font-weight: 500;
  font-size: 1.7vmin;
}

.pin_modal img {
  height: 2.5vw;
  display: block;
  padding: 0.5vw;
}

.pin_modal .place_name {
  font-size: 2vmin;
  font-weight: 700;
}

.place_name, .place_address, .place_hours {
  padding: 1.3vh 0;
}

.place_hours {
  text-align: center;
  margin-top: 3vh;
  padding: 2vh 1vw;
  border: 0.2vw dotted white;
}

.place_hours .open_now,
.place_hours .closed_now {
  text-transform: uppercase;
  font-weight: bold;
}

.open_now {
  color: #46942a;
}

.closed_now {
  color: #bb2d3b;
}

.pin_modal .btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1vh 1vw;
  font-size: 4vmin;
  color: #9e1d64;
}

@media only screen and (max-width: 600px) {
  .pin_modal {
    width: 60vw;
    padding: 5vh 7vw;
  }
}