.random_recipe_container .recipe_card {
  width: 60%;
}

@media only screen and (max-width: 975px) {
  .random_recipe_container .recipe_card {
    width: 80%;
  }
}

.random_recipe_container .recipe_card {
  margin: auto;
}

.random_recipe_container .recipe_card .card {
  width: 100%;
  box-shadow: 0 0 10px #9b94a8;
  animation: card_glow 3s ease-in-out infinite alternate;
}
 
@keyframes card_glow {
  from {
    box-shadow: 0 -10px 30px #6bd6e2,
    0 -5px 10px #a27dc6,
    0 -5px 15px #ac87d1,
    0 -5px 20px #6bd6e2;
  }
  to {
    box-shadow: 0 -5px 50px #d4f1f4,
    0 -5px 0px #ac87d1,
    0 -5px 10px #a27dc6,
    0 -5px 20px #ab85e7;
  }
}
