.random_recipe_container .recipe_card {
  width: 60%;
}

.random_recipe_container .recipe_card {
  margin: auto;
}

.random_recipe_container .recipe_card .card {
  width: 100%;
  box-shadow: 0 0 1vw #9b94a8;
  animation: card_glow 3s ease-in-out infinite alternate;
}

@keyframes card_glow {
  from {
    box-shadow: 0 -0.5vw 1.75vw #6bd6e2,
    0 -0.5vw 2vw #a27dc6,
    0 -0.5vw 2.25vw #ac87d1,
    0 -0.5vw 2.5vw #6bd6e2;
  }
  to {
    box-shadow: 0 -0.5vw 2vw #d4f1f4,
    0 -0.5vw 2.1vw #ac87d1,
    0 -0.5vw 2.2vw #a27dc6,
    0 -0.5vw 2.6vw #ab85e7;
  }
}

@media only screen and (max-width: 600px) {
  .random_recipe_container .recipe_card {
    width: 80%;
  }
}
