.recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipe_card {
  padding: 1vh 1vw;
  width: calc(100% / 3);
  box-sizing: border-box;
}

.card {
  height: 100%;
}

.recipe_card .recipe_description {
  font-size: 1.2vmin;
  margin: 2vh 0 2.3vh;
  font-weight: 500;
}
