.recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipe_card {
  padding: 10px;
  width: calc(100% / 3);
  box-sizing: border-box;
}

.card {
  height: 100%;
}

.recipe_card .recipe_description {
  font-size: 1.2vmin;
  margin: 10px 0 20px 0;
  font-weight: 500;
}
