@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;500;700;900&display=swap');

.app {
  font-family: 'Spartan', sans-serif;
  font-weight: 900;
}

.wrapper {
  display: flex;
}

.btn {
  font-weight: 700 !important;
}

.btn:hover {
  color: white !important;
}
