@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;500;700;900&display=swap');

.app {
  font-family: 'Spartan', sans-serif;
  height: 100vh;
  width: 100vw;
  font-weight: 900;
}

.wrapper {
  display: flex;
}