.app_container {
  width: calc(100vw - 15vw);
}

.page_title {
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 5vmin;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #f48fb1;
  text-shadow: -4px 4px #7e57c2,
               -8px 8px #26c6da;
}