.app_header {
  background-color: #81af6f;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  text-transform: uppercase;
}

.app_logo {
  margin: 10px;
}

.logo_center {
  content: "";
  background: #7e57c2;
  height: 3.5vmin;
  width: 3.5vmin;
  border-radius: 50%;
  position: absolute;
  margin: 1.5vmin;
}

.app_header p {
  margin: auto 0;
  text-shadow: -4px 3px #7e57c2;
  font-weight: 700;
}

.logo_icon {
  z-index: 1;
  height: 7vmin;
  pointer-events: none;
  filter: brightness(100);
}

@media (prefers-reduced-motion: no-preference) {
  .logo_icon {
    animation: icon_spin infinite 10s linear;
  }
}

@keyframes icon_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
