.app_header {
  background-color: #81af6f;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  text-transform: uppercase;
}

.app_header p {
  margin: auto 0;
}

.app_logo {
  height: 7vmin;
  pointer-events: none;
  margin: 10px;
  filter: brightness(100);
}

@media (prefers-reduced-motion: no-preference) {
  .app_logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
